.wrapper {
  padding-top: 30px;
  background-image: url("../../styles/backgrounds/Wiki-background.jpg");
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
