.navbar {
  background: rgb(147,212,247);
  height: 100px;
  width:100%;
  position: fixed;
  top:0;
  z-index: 1;
}

.navbar h2 {
  color: #ffd90f;
  font-size: 2rem;
  text-decoration: none;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
  

